<section class="section pt-85 bg-worldmap">
    <div class="container">
        <div class="text-center">
            <img class="mb-15" src="/templates/assets/imgs/template/icons/favicon.svg" alt="transp">
            <h2 class="color-brand-2 mb-20">Nasıl Çalışıyoruz?</h2>
            <p class="font-md color-grey-700">You choose the cities where you’d like to deliver. All deliveries are within a specific service area and delivery services vary by location. Whatever the mode or requirement, we will find and book the ideal expedited shipping solution to ensure a timely delivery.</p>
        </div>
        <div class="row mt-50">
            <div class="col-lg-6 mb-30">
                <div class="box-image-how">
                    <img class="w-100" src="/templates/assets/imgs/page/homepage1/how-it-work.png" alt="transp">
                    <div class="box-info-bottom-img">
                        <div class="image-play"><img class="mb-15" src="/templates/assets/imgs/template/icons/play.svg" alt="transp"></div>
                        <div class="info-play">
                            <h4 class="color-white mb-15">We have 25 years experience in this passion</h4>
                            <p class="font-sm color-white">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-30">
                <ul class="list-how-works">
                    <li>
                        <div class="image-how"> <span class="img"> <img src="/templates/assets/imgs/page/homepage1/order.png" alt="transp"></span></div>
                        <div class="info-how">
                            <h5 class="color-brand-2">Customer places order</h5>
                            <p class="font-md color-grey-700">Inspection and quality check of goods</p>
                        </div>
                    </li>
                    <li>
                        <div class="image-how"> <span class="img"> <img src="/templates/assets/imgs/page/homepage1/payment.png" alt="transp"></span></div>
                        <div class="info-how">
                            <h5 class="color-brand-2">Payment successful</h5>
                            <p class="font-md color-grey-700">Payoneer, Paypal, or Visa master card</p>
                        </div>
                    </li>
                    <li>
                        <div class="image-how"> <span class="img"> <img src="/templates/assets/imgs/page/homepage1/warehouse.png" alt="transp"></span></div>
                        <div class="info-how">
                            <h5 class="color-brand-2">Warehouse receives order</h5>
                            <p class="font-md color-grey-700">Check the accuracy of the goods.</p>
                        </div>
                    </li>
                    <li>
                        <div class="image-how"> <span class="img"> <img src="/templates/assets/imgs/page/homepage1/picked.png" alt="transp"></span></div>
                        <div class="info-how">
                            <h5 class="color-brand-2">Item picked, packed & shipped</h5>
                            <p class="font-md color-grey-700">Ship the goods to a local carrier</p>
                        </div>
                    </li>
                    <li>
                        <div class="image-how"> <span class="img"> <img src="/templates/assets/imgs/page/homepage1/delivery.png" alt="transp"></span></div>
                        <div class="info-how">
                            <h5 class="color-brand-2">Delivered & Measure success</h5>
                            <p class="font-md color-grey-700">Update order status on the system</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>