
<footer class="footer">
    <div class="footer-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 width-23 mb-30">
                    <div class="mb-20"><img src="/templates/assets/imgs/template/logo-footer.svg" alt="transp"></div>
                    <p class="font-xs mb-20 color-white">We fuse our global network with our depth of expertise in air freight, ocean freight, railway transportation, trucking, and multimode transportation, also we are providing sourcing, warehousing, E-commercial fulfillment, and value-added service to our customers including kitting, assembly, customized package and business inserts, etc.</p>
                    <h6 class="color-brand-1">Follow Us</h6>
                    <div class="mt-15"><a class="icon-socials icon-facebook" href="#"></a><a class="icon-socials icon-instagram" href="#"></a><a class="icon-socials icon-twitter" href="#"></a><a class="icon-socials icon-youtube" href="#"></a><a class="icon-socials icon-skype" href="#"></a></div>
                </div>
                <div class="col-lg-3 width-16 mb-30">
                    <h5 class="mb-10 color-brand-1">Company</h5>
                    <ul class="menu-footer">
                        <li><a href="about.html">Mission &amp; Vision</a></li>
                        <li><a href="team.html">Our Team</a></li>
                        <li><a href="career.html">Careers</a></li>
                        <li><a href="#">Press &amp; Media</a></li>
                        <li><a href="#">Advertising</a></li>
                        <li><a href="#">Testimonials</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 width-16 mb-30">
                    <h5 class="mb-10 color-brand-1">Industries</h5>
                    <ul class="menu-footer">
                        <li><a href="#">Global coverage</a></li>
                        <li><a href="#">Distribution</a></li>
                        <li><a href="#">Accounting Tools</a></li>
                        <li><a href="#">Freight Recovery</a></li>
                        <li><a href="#">Supply Chain</a></li>
                        <li><a href="#">Warehousing</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 width-16 mb-30">
                    <h5 class="mb-10 color-brand-1">Services</h5>
                    <ul class="menu-footer">
                        <li><a href="#">Air Freight</a></li>
                        <li><a href="#">Ocean Freight</a></li>
                        <li><a href="#">Railway Freight</a></li>
                        <li><a href="#">Warehousing</a></li>
                        <li><a href="#">Distribution</a></li>
                        <li><a href="#">Value added</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 width-20 mb-30">
                    <h5 class="mb-10 color-brand-1">Gallery</h5>
                    <div class="galleries-footer">
                        <ul class="list-imgs">
                            <li> <img src="/templates/assets/imgs/page/homepage1/gal1.png" alt="transp"></li>
                            <li> <img src="/templates/assets/imgs/page/homepage1/gal2.png" alt="transp"></li>
                            <li> <img src="/templates/assets/imgs/page/homepage1/gal3.png" alt="transp"></li>
                            <li> <img src="/templates/assets/imgs/page/homepage1/gal4.png" alt="transp"></li>
                            <li> <img src="/templates/assets/imgs/page/homepage1/gal5.png" alt="transp"></li>
                            <li> <img src="/templates/assets/imgs/page/homepage1/gal6.png" alt="transp"></li>
                            <li> <img src="/templates/assets/imgs/page/homepage1/gal7.png" alt="transp"></li>
                            <li> <img src="/templates/assets/imgs/page/homepage1/gal8.png" alt="transp"></li>
                            <li> <img src="/templates/assets/imgs/page/homepage1/gal9.png" alt="transp"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-2">
        <div class="container">
            <div class="footer-bottom">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 text-center text-lg-start"><span class="color-grey-300 font-md">©Transp Official @DateTime.Now.Year. Tüm Hakıları Saklıdır.</span></div>
                    <div class="col-lg-6 col-md-12 text-center text-lg-end">
                        <ul class="menu-bottom">
                            <li><a class="font-sm color-grey-300" href="term-conditions.html">Privacy policy</a></li>
                            <li><a class="font-sm color-grey-300" href="term-conditions.html">Cookies</a></li>
                            <li><a class="font-sm color-grey-300" href="term-conditions.html">Terms of service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>