<section class="section mt-55 bg-1 position-relative pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <span class="btn btn-tag">Biz Kimiz</span>
                <h3 class="color-grey-900 mb-20 mt-15">Proud to Deliver <br class="d-none d-lg-block">Excellence Every Time</h3>
                <p class="font-md color-grey-900 mb-40">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla. Interactively transform magnetic growth strategies whereas prospective "outside the box" thinking.</p>
                <div class="row">
                    <div class="col-lg-6 mb-30">
                        <h6 class="chart-title font-md-bold color-grey-900">Boost your sale</h6>
                        <p class="font-xs color-grey-900">The latest design trends meet hand-crafted templates.</p>
                    </div>
                    <div class="col-lg-6 mb-30">
                        <h6 class="feature-title font-md-bold color-grey-900">Introducing New Features</h6>
                        <p class="font-xs color-grey-900">The latest design trends meet hand-crafted templates.</p>
                    </div>
                </div>
                <div class="mt-20">
                    <a class="btn btn-brand-2 mr-20" href="contact.html">Contact Us</a><a class="btn btn-link-medium" href="#">
                        Learn More
                        <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="box-image-touch"></div>
</section>