<section class="section mt-50 bg-customers-say">
    <div class="container">
        <h2 class="title-favicon color-white mb-20 title-padding-left">Müşterilerimiz Bizim İçin Ne Söyledi?</h2>
        <p class="font-lg color-white pl-55">Hear from our users who have saved thousands on their <br class="d-none d-lg-block">Startup and SaaS solution spend.</p>
    </div>
    <div class="box-slide-customers mt-50">
        <div class="box-swiper">
            <div class="swiper-container swiper-group-3-customers pb-50">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card-testimonial-grid">
                            <div class="box-author mb-25">
                                <a href="#"><img src="/templates/assets/imgs/page/homepage1/author.png" alt="transp"></a>
                                <div class="author-info"><a href="#"><span class="font-xl-bold color-brand-2 author-name">Guy Hawkins</span></a><span class="font-sm color-grey-500 department">Bank of America</span></div>
                            </div>
                            <p class="font-md color-grey-700">Access the same project through five different dynamic views: a kanban board, Gantt chart, spreadsheet, calendar or simple task list.</p>
                            <div class="card-bottom-info justify-content-between">
                                <div class="rating text-start"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><br><span class="font-sm color-white">For customer support</span></div><span class="font-xs color-grey-500 rate-post text-end">Rate: 4.95 / 5</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-testimonial-grid">
                            <div class="box-author mb-25">
                                <a href="#"><img src="/templates/assets/imgs/page/homepage1/author2.png" alt="transp"></a>
                                <div class="author-info"><a href="#"><span class="font-xl-bold color-brand-2 author-name">Eleanor Pena</span></a><span class="font-sm color-grey-500 department">Bank of America</span></div>
                            </div>
                            <p class="font-md color-grey-700">Access the same project through five different dynamic views: a kanban board, Gantt chart, spreadsheet, calendar or simple task list.</p>
                            <div class="card-bottom-info justify-content-between">
                                <div class="rating text-start"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><br><span class="font-sm color-white">For customer support</span></div><span class="font-xs color-grey-500 rate-post text-end">Rate: 4.95 / 5</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-testimonial-grid">
                            <div class="box-author mb-25">
                                <a href="#"><img src="/templates/assets/imgs/page/homepage1/author3.png" alt="transp"></a>
                                <div class="author-info"><a href="#"><span class="font-xl-bold color-brand-2 author-name">Cody Fisher</span></a><span class="font-sm color-grey-500 department">Bank of America</span></div>
                            </div>
                            <p class="font-md color-grey-700">Access the same project through five different dynamic views: a kanban board, Gantt chart, spreadsheet, calendar or simple task list.</p>
                            <div class="card-bottom-info justify-content-between">
                                <div class="rating text-start"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><br><span class="font-sm color-white">For customer support</span></div><span class="font-xs color-grey-500 rate-post text-end">Rate: 4.95 / 5</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-pagination-customers">
                    <div class="swiper-button-prev swiper-button-prev-customers swiper-button-prev-style-1">
                        <svg fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
                        </svg>
                    </div>
                    <div class="swiper-button-next swiper-button-next-customers swiper-button-next-style-1">
                        <svg fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>