<div class="text-center mb-45">
    <h2 class="color-brand-1 mb-15">Dünyanın Önce Gelen Taşımacılık <br class="d-none d-lg-block">ve Kargo Firmasıyız</h2>
    <p class="font-md color-white">A big opportunity for your business growth. Delivering Results for Industry Leaders. We are <br class="d-none d-lg-block">proud of our workfor and have worked hard.</p>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 mb-30">
        <div class="cardLeadingCompany">
            <div class="cardImage"> <span class="img"> <img src="/templates/assets/imgs/page/homepage1/handover.png" alt="transp"></span></div>
            <div class="cardInfo">
                <h3 class="color-brand-1">+ 380,000</h3>
                <p class="font-lg color-white">Parcels Shipped Safely</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-30">
        <div class="cardLeadingCompany">
            <div class="cardImage"> <span class="img"> <img src="/templates/assets/imgs/page/homepage1/cities.png" alt="transp"></span></div>
            <div class="cardInfo">
                <h3 class="color-brand-1">+ 120,000</h3>
                <p class="font-lg color-white">Cities Served Worldwide</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-30">
        <div class="cardLeadingCompany">
            <div class="cardImage"> <span class="img"> <img src="/templates/assets/imgs/page/homepage1/client.png" alt="transp"></span></div>
            <div class="cardInfo">
                <h3 class="color-brand-1">+2280</h3>
                <p class="font-lg color-white">Satisfied Clients</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-30">
        <div class="cardLeadingCompany">
            <div class="cardImage"> <span class="img"> <img src="/templates/assets/imgs/page/homepage1/company.png" alt="transp"></span></div>
            <div class="cardInfo">
                <h3 class="color-brand-1">+ 1200</h3>
                <p class="font-lg color-white">Company We Help</p>
            </div>
        </div>
    </div>
</div>